<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>秒杀商品列表页</title>
    <link rel="stylesheet" th:href="@{../../lib/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{../../lib/font/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{../../css/seckill.css}"/>
    <link rel="stylesheet" th:href="@{../../css/public.css}"/>
</head>
<body>

<div id="app">
    <!-- header -->
    <div th:replace="public/header :: header"></div>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-12">
                <div class="page-header">
                    <h1>
                        秒杀系统
                        <small></small>
                    </h1>
                </div>
                <div class="row-fluid">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-8">
                        <table class="table">
                            <tr th:each="item :${list}" th:if="${item.number>0}">
                                <td>
                                    <span th:text="${item.name}"></span>
                                </td>
                                <td>
                                    <span>剩余库存： <b class="stock" th:text="${item.number}"></b></span>
                                </td>
                                <td>
                                    <a th:href="'/seckill/' + ${item.seckillId} + '/detail'" target="_blank">
                                        <button style="width:100%" class="btn btn-success">立即抢购</button>
                                </td>
                                <td>
                                    <div>
                                        <span style="float:left;font-size: 13px;">开始时间：[[${#dates.format(item.startTime, 'yyyy-MM-dd HH:mm:ss')}]]</span>
                                    </div>
                                    <div>
                                        <span style="float:left;font-size: 13px;">结束时间：[[${#dates.format(item.endTime, 'yyyy-MM-dd HH:mm:ss')}]]</span>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-1">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- footer -->
    <div th:replace="public/footer :: footer"></div>

</div>
</div>
</body>
<script type="text/javascript" th:src="@{../../lib/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{../../lib/bootstrap.min.js}"></script>
</html>